body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

div {
  text-align: center;
}

#start-action {
  height:6em;
}

#raw-readout {
  height:6em;
  display: none;
}

#start_button {
  background-color: #52BE80;
  border: #239B56;
}

.readout-large {
  font-family: 'arial narrow', 'Avenir Next Condensed Regular', sans-serif;
  font-weight: bold;
  font-size: 10em;
  margin-bottom: -0.2em;
}

.coach-msg {
  background-color: #E74C3C;
  color: white;
  border-radius: 5px;
  padding-top:10px;
}

.sensors-active {
  background-color: #FFEE00;
}

.sensors-inactive {
  background-color: white;
}

.wheelie-active {
  background-color: #52BE80;
}

#fullscreen-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video-button {
  width: 5em;
  padding: 5px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius:5px;
}

.video-overlay-content {
  position: fixed;
  bottom: 5%;
  left: 8%;
  background: rgba(255, 255, 255, 0.7);
  width: 84%;
  padding: 20px;
  border-radius:8px;
}