body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

div {
  text-align: center;
}

#start-action {
  height:6em;
}

#raw-readout {
  height:6em;
  display: none;
}

.readout-large {
  font-family: 'arial narrow', 'Avenir Next Condensed Regular', sans-serif;
  font-weight: bold;
  font-size: 10em;
  margin-bottom: -0.2em;
}

.sensors-active {
  background-color: #FFEE00;
}

.sensors-inactive {
  background-color: white;
}

.wheelie-active {
  background-color: #52BE80;
}