body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

div {
  text-align: center;
}

.sensors-active {
  background-color: #FFEE00;
}

.sensors-inactive {
  background-color: white;
}

.wheelie-active {
  background-color: #52BE80;
}